body {
    height: 100vh;
    background-image: linear-gradient(to right, rgb(42, 42, 61), rgb(58, 58, 68));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(to right, rgb(70, 72, 69), rgb(101, 101, 88), rgb(57, 58, 56));
    border-radius: 10px;
    width: 300px;
    height: 450px;
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
}

#screen {
    display: flex;
    justify-content: flex-end;
    font-family: monospace;
    align-items: center;
    font-size: 48px;
    width: 260px;
    height: 50px;
    padding: 5px;
    background-image: linear-gradient(rgb(105, 113, 104), rgb(114, 125, 117));
    border: 5px solid black;
    border-style: inset;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
}

#keypad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 22em;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 270px;
}

button {
    width: 60px;
    height: 60px;
    flex-grow: 1;
    color: rgb(239, 239, 239);
    background-color: rgb(34, 34, 34);
    font-size: 28px;
    box-shadow: -2px -2px 1px black;
    border-radius: 10px;
    border-style: outset;
    border: 1px solid rgb(0, 0, 0);
    transition: 50ms;
    text-align: center;
    padding: 5px;
}

#zero-button {
    flex-grow: 20;
}

.buttonPress {
    background-color: rgb(41, 41, 41);
    box-shadow: 0px 0px 0px black;
    position: relative;
    left: -2px;
    top: -2px;
    border-style: inset;
} 

.focused {
    border: 1px outset rgb(167, 219, 157);
}